/* *{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background: #e9e9e9;
    color:#2e2e2e;
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}
h1{
    margin: 20px 0;
    text-align: center;
}
.contenedor .articulos{
    background: #fff;
    padding: 15px 18px;
    border-bottom: 1px solid #c8c8c8;
}

.paginacion ul, .articulos ul{
    list-style: none;
}
.articulos ul li{
    padding-bottom: 10px;
}
.paginacion ul li{
    display: inline;
    margin-right: 10px;
}
.paginacion ul .active a{
    background: #ce7f88;
}
.paginacion ul .disabled{
    background: #c8c8c8;
    display: inline-block;
    padding: 15px 25px;
    cursor: not-allowed;
    color:#fff;
    text-decoration: none;
}
.paginacion ul li a{
    display: inline-block;
    padding: 15px 25px;
    background: #424242;
    color: #fff;
    text-decoration: none;
}
.paginacion ul li:hover{
    text-decoration: none;
    background: #3299bb;

} */

body
{
    background-color: grey;
    color: #333;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
    background-color: #fff;
}

#container h1
{
    font-size: 20px;
}
#cabecera{
    background: #2f2fb9;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color:white;
    font-weight: bold;
    margin: 0;
    padding: 0.5rem;
}
#cabecera #logo{
    width:20px;
    vertical-align: middle;
}
#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#post{
    padding: 1em;
}
#footer{
    background-color: grey;
    color:#fff;
    text-align: center;
    padding: 0.5em;
}